.messages {
  &__wrap {
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    overflow: auto;
    background: transparent;
  }
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}